DATABASE_URL="postgres://postgres:password@localhost:5432/endebete"
JWT_SECRET="generate_32_byte_random_secret"
CHAPA_SECRET_KEY="CHASECK_TEST-your_chapa_secret_key"
VAPID_PUBLIC_KEY="YOUR_VAPID_PUBLIC_KEY"
VAPID_PRIVATE_KEY="YOUR_VAPID_PRIVATE_KEY"
VAPID_SUBJECT="mailto:support@ethiopianstays.com"
PORT=3333
NODE_ENV="development"
